gradedCavity/Results
gradedCavity/VTK
40x40Cavity/Results
40x40Cavity/VTK
5x5/Results

mixerSRFNew/VTK
mixerSRFNew/simulationData

mixerVessel2DMRF/VTK
mixerVessel2DMRF/simulationData

build
bin

log.log
*.png
*.jpg
*.jpeg
*.vtu
*.vts
*.vtk